@media only screen and (max-width: 600px) {
	.instrument{
		width: 100%;
	}
}


@media only screen and (min-width: 601px) {

	* {
		max-width: 2000px;
	}

	html {
		height: 100%;
	}

	h1 {
		font-size: 60px;
		line-height: 1em;
	}

	h2 {
		font-size: 42px;
	}

	h3 {
		font-size: 36px;
	}
	img {
		display: none;
	}

	body {
		background-image: none;
		font-size: 20px;
		height: 100%;
		padding-top: 100px;
	}

	div {
		background-color: rgba(255,255,255,.9);
		padding: 3% 15%;
		max-width: 2000px;
		 background-size: cover; 
	  background-attachment: fixed;
	  background-position: center; 
	}

	section {
	  max-width: 2000px;
	  background-size: cover; 
	  background-attachment: fixed;
	  background-position: center;
	}

	.container {

		width: 100%;
		/*max-width: 2000px;*/
		margin: 0 auto;
	}
	

	.headerimagebackground {
		background-image: url('photos/mandy.jpg');
		height: 750px;
	
	}

	.intro {
		background-image: url('photos/guzhengwoods.jpg');
		height: 1000px;
		
	}


	.pure-g {
		display: inline-block;
		padding: 0px;
		margin: 0px;
		.pure-u-1-2 {
			padding: 3% 3%;
		}
	}

/*Classes Page*/
	.recital {
		background-image: url('photos/grouprecital.jpg');
		height: 600px;
	
	}

	.classes-pipa {
		background-image: url('photos/traditionalpipa.jpg');
		height: 750px;

	}
	.classes-guzheng {
		background-image: url('photos/mandyblue.jpg');
		height: 750px;


	}

	.prices {
		background-image: url('photos/21.jpg');
		height: 750px;

	}

/*About Page*/

	.bogofusion {
		background-image: url('photos/bogofusion.jpg');
		height: 600px;
	}

/*Contact Page*/
	.contact {
		background-image: url('photos/studio.jpg');
		height: 750px;


	}
	.mandypost {
		background-image: url('photos/mandypost.jpg');
		height: 400px;
	}



}



