@media only screen and (min-width: 601px) {
  img {
    display: none;
  }

  .section {
    height: 100%;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  .instruments {
    background-image: url("mandy.jpg");
  }
}
