@media only screen and (min-width: 601px) {
  html {
    height: 100%;
  }

  body {
    background-image: none;
    font-size: 20px;
    height: 100%;
  }

  .container {
    /*padding-top: 5%;*/
    width: 100%;
    margin: 0 auto;
  }

  .header {
    width: 100%;
    left: 0;
  }

  .headerimage {
    background-image: url("photos/tent.jpg");
    height: 2584px;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  img {
    display: none;
  }

  .section {
    height: 100%;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  .instruments {
    background-image: url("photos/mandy.jpg");
    height: 100%;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  .intro {
    background-image: url("photos/pipa.jpg");
    height: 2584px;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  div {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5%;
    margin: 5%;
  }
}
