@import "reset";

h1 {
  font-size: 36px;
  font-family: 'Ostrich Sans';
  line-height: 1em;
}

h2 {
  font-size: 32px;
  font-family: 'Ostrich Sans';
}
h3 {
  font-size: 28px;
  font-family: 'Ostrich Sans';
}
a {
  text-decoration: none;
  color: gray;
    :hover {
      color: black;
    }
    :active {
      color: black;

    }  
}

img {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block;
}

p {
  padding: 3%;
}

body {
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  padding-top: 60px;
  padding-bottom: 2em;

}

header {
  position: fixed;
  background-color: rgba(255,255,255,.95);
  text-align: center;
  width: 100%;
  z-index: 100;
  top: 0;
  padding-top: 1em;

  nav {
    display: inline-block;
    padding-bottom: .5em;
    padding-top: .5em; 
      :hover {
      color: black;
    }
    :active {
      color: black;

    }   
  }
}



/*gallery page*/




@import "media";