html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

h1 {
  font-size: 36px;
  font-family: 'Ostrich Sans';
  line-height: 1em;
}

h2 {
  font-size: 32px;
  font-family: 'Ostrich Sans';
}

h3 {
  font-size: 28px;
  font-family: 'Ostrich Sans';
}

a {
  text-decoration: none;
  color: gray;
}
a :hover {
  color: black;
}
a :active {
  color: black;
}

img {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block;
}

p {
  padding: 3%;
}

body {
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  padding-top: 60px;
  padding-bottom: 2em;
}

header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  text-align: center;
  width: 100%;
  z-index: 100;
  top: 0;
  padding-top: 1em;
}
header nav {
  display: inline-block;
  padding-bottom: .5em;
  padding-top: .5em;
}
header nav :hover {
  color: black;
}
header nav :active {
  color: black;
}

/*gallery page*/
@media only screen and (max-width: 749px) {
  .instrument {
    width: 100%;
  }
}
@media only screen and (min-width: 750px) {
  * {
    max-width: 2000px;
  }

  html {
    height: 100%;
  }

  h1 {
    font-size: 60px;
    line-height: 1em;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  img {
    display: none;
  }

  body {
    background-image: none;
    font-size: 20px;
    height: 100%;
    padding-top: 100px;
  }

  div {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 3% 15%;
    max-width: 2000px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  section {
    max-width: 2000px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  /*Index Page*/
  .headerimagebackground {
    background-image: url("photos/mandy.jpg");
    height: 750px;
    position: relative;
  }

  .headerimagetext {
    position: absolute;
    top: 55%;
    width: 100%;
    padding: 5%;
  }

  .intro {
    background-image: url("photos/guzhengwoods.jpg");
    height: 1000px;
    position: relative;
  }

  .introtext {
    position: absolute;
    top: 65%;
  }

  .homecontactbackground {
    background-image: url("photos/21.jpg");
    height: 1000px;
  }

  .pure-g {
    display: inline-block;
    padding: 0px;
  }
  .pure-g .pure-u-1-2 {
    padding: 3% 3%;
  }

  /*Classes Page*/
  .recital {
    background-image: url("photos/grouprecital.jpg");
    height: 600px;
  }

  .classes-pipa {
    background-image: url("photos/traditionalpipa.jpg");
    height: 750px;
  }

  .classes-guzheng {
    background-image: url("photos/mandyblue.jpg");
    height: 750px;
  }

  .prices {
    background-image: url("photos/21.jpg");
    height: 750px;
  }

  /*About Page*/
  .mandypost {
    background-image: url("photos/mandypost.jpg");
    height: 400px;
  }

  .bogofusion {
    background-image: url("photos/bogofusion.jpg");
    height: 600px;
  }

  /*Contact Page*/
  .contact {
    background-image: url("photos/studio.jpg");
    height: 750px;
  }
}
