html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

h1 {
  font-size: 32px;
  /*font-weight: black;*/
  font-family: 'Ostrich Sans';
}

h2 {
  font-size: 28px;
  /*font-weight: bold;*/
  font-family: 'Ostrich Sans';
}

h3 {
  font-size: 22px;
  /*font-weight: bold;*/
  font-family: 'Ostrich Sans';
}

a {
  text-decoration: none;
  color: gray;
  /*:hover {
    color: gray;
  }*/
}

body {
  width: 100%;
  background-image: url("goldengate.jpg");
  background-position: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /*font-size: 18px;*/
  line-height: 1.5em;
  padding-top: 2em;
}

header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  left: 5%;
  width: 90%;
  z-index: 100;
  top: 0;
  padding-top: 1em;
}
header nav {
  display: inline-block;
  padding-bottom: .5em;
  padding-top: .5em;
}
header nav a:hover {
  color: black;
}
header nav a:active {
  color: black;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  left: 5%;
  margin: 0 auto;
}

.main {
  top: 75%;
}

img {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block;
}

p {
  padding: 3%;
}

@media only screen and (max-width: 600px) {
  .instrument {
    width: 100%;
  }
}
@media only screen and (min-width: 601px) {
  h1 {
    font-size: 60px;
    line-height: 1em;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  html {
    height: 100%;
  }

  body {
    background-image: none;
    font-size: 20px;
    height: 100%;
  }

  .container {
    /*padding-top: 5%;*/
    width: 100%;
    margin: 0 auto;
  }

  .header {
    width: 100%;
    left: 0;
  }

  .headerimage {
    background-image: url("photos/mandy.jpg");
    height: 600px;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  .headerimagetext {
    padding: 2em;
    /*font-size: 60px;*/
  }

  img {
    display: none;
  }

  .section {
    height: 100%;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  .intro {
    background-image: url("photos/guzhengwoods.jpg");
    height: 1000px;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

  div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2%;
    /*border: 1px solid blue;*/
  }
}
.contacttext {
  margin: 0;
}

.pure-g {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  /*background-color: rgba(255,255,255,.5);*/
}
