@import "reset";

h1 {
  font-size: 32px;
  /*font-weight: black;*/
  font-family: 'Ostrich Sans';
}

h2 {
  font-size: 28px;
  /*font-weight: bold;*/
  font-family: 'Ostrich Sans';
}
h3 {
  font-size: 22px;
  /*font-weight: bold;*/
  font-family: 'Ostrich Sans';
}
a {
  text-decoration: none;
  color: gray;
    /*:hover {
      color: gray;
    }*/
}

body {
  width: 100%;
  background-image: url('goldengate.jpg');
  background-position: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /*font-size: 18px;*/
  line-height: 1.5em;
  padding-top: 2em;

}

header {
  position: fixed;
  background-color: rgba(255,255,255,.9);
  text-align: center;
  left: 5%;
  width: 90%;
  z-index: 100;
  top: 0;
  padding-top: 1em;

  nav {
    display: inline-block;
    padding-bottom: .5em;
    padding-top: .5em;

    a:hover {
      color: black;
    }
    a:active {
      color: black;

    } 
  }
}

.container {
  background-color: rgba(255,255,255,.8);
  /*max-width: 1000px;*/
  width: 90%;
  left: 5%;
  margin: 0 auto;
}

.main {
top: 75%;
}
img {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block;
}
p {
  padding: 3%;
}


@import "media";